.input-btn{
    width: 10px;
    border-radius: 5px;
    /* border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;*/
    }
    
    .input-btn{
    background: #8d8d8d;
    font-size: 17px;
    width: 90px;
    height: 25px;
    cursor: pointer;
    color: #222;
    
    transition: all 0.3s;
    box-shadow: 2px 2px 0 0 black;
    }

    .input-btn:hover{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        background: rgb(56, 197, 24);
}
    



/*    button 2    */

    .input-submit{
        width: 10px;
        border-radius: 5px;
        /* border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none; */
        }
        
        .input-submit{
        background: #8d8d8d;
        font-size: 16px;
        width: 90px;
        height: 25px;
        cursor: pointer;
        color: #222;
        
        transition: all 0.3s;
        box-shadow: 2px 2px 0 0 black;
        }

   .input-submit:hover{
            -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
            transform: scale(0.9);
            background: rgb(255, 7, 7);
    }