/* font importing  */

 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap'); */

*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif,'Roboto';
    /* outline: none; */
}

:root{
    --lightgray: lightgray;
    --blue: ???;
    --gray: ???;

    /* ### exemplos como utilizar as variaveis do root
    background-color: var(--orange);
    background:    var(--orange);
    color:    var(--orange); */
    
}

html,
body{
    padding: 0;
    margin: 0;
    background: var(--lightgray);
    
   /* overflow-x: hidden;  tirar barra de rolagem na horizontal */
 /* overflow-y: hidden;    tirar barra de rolagem na vertical */
}

.container{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(6,70,161,1) 0%, rgba(9,9,121,1) 100%);
    box-shadow: 10px 5px 8px rgba(0,0,0,0.4);
}


span{
    color: aliceblue;
}

/*aside */
.aside-padding{
    padding: 0 40px;
}

aside a {
        color: aliceblue;
}



/* link de configuração */
.config{
    color: white;
    font-size: 25px;
}


/* button exit */
.exit{
    border-radius: 15px; 
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin:  0 7px;
}

.exit{
    background:rgb(255, 0, 0);
    font-size: 20px;
    width: 90px;
    height: 25px;
    cursor: pointer;
    color: white;
   
    /* box-shadow: 5px 2px 2px black; */
}

.exit:hover{
    transition:  0.5s all 100ms;
    background:  rgb(255, 0, 0, 0.6);
}

/* main */
main{
    margin: 0;
    padding: 0;
}

/* flex-row-form */
.flex-row-form{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 77px;

}

.flex1-form{
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.flex2-form{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 0;
}
.flex3-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.flex4-form{
    display: flex;
    margin: 275px 0 0 0;
}



.input-name{
    width: 360px;
}

.input-cep{
    width: 360px;
}

.input-sexo{
    width: 43px;
}

#sexo{
    width: 110px;
}


.input-uf{
    width: 110px;
}

.input-emissao{
    width: 127px;
}


.input-cep,
.input-cidade,
.input-sus,
.input-rg{
    width: 170px;
}

.input-submit{
    display: inline;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

textarea, 
input{
    outline: 0;
}


@media (max-width: 600px){
    .flex-row-form{
        display: flex;
        flex-direction: column;
        /* width: 100vw; */
        margin: 100px auto;
        height: 100vh;
    }
    .flex2-form{
        padding: 50px;
    }
    .links{
        display: none;
    }
    .aside-padding{
        padding: 0;
    }
    
}

.count{
    display: flex;
    justify-content: end;
    margin: 25px 60px;
    font-size: 2rem;
}

footer{
    width: 100%;
    border: solid 2px;
    background-color: rgba(0,0,0, 0.8) ;
    
}