:root{
    --lightgray: lightgray;
    --blue: ???;
    --gray: ???;
    
    /* ### exemplos como utilizar as variaveis do root
    background-color: var(--orange);
     */

    }

/* font importing */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap'); */

*{
box-sizing: border-box;
font-family: sans-serif,'Roboto';
padding: 0;
margin: 0;
/* outline: none; */
}

body{
min-height: 100%;
background: var(--lightgray); 


 /*  overflow-x: hidden; tirar barra de rolagem na horizontal */
/*overflow-y: hidden;  tirar barra de rolagem na vertical */
}

.container{
display: flex;
flex-direction: column;
}

header{
display: flex;
justify-content: space-between;
height: 60px;
width: 100vw;
align-items: center;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(6,70,161,1) 0%, rgba(9,9,121,1) 100%);
box-shadow: 10px 5px 8px rgba(0,0,0,0.4);
}

.home{
display: flex ;
align-items: center;
font-size: 20px;
}


ul li a {
padding: 0 7px;
color: #fff;
text-decoration: none;
list-style: none;
}

ul{
padding: 0 40px;
}

/*aside ###*/
.aside-padding{
padding: 0 40px;
}

aside a {
color: aliceblue;
}



/* link de configuração ### desativado ###*/
.config{
color: white;
font-size: 20px;
}


/* button exit */
.exit{
border-radius: 5px;
border-top: none;
border-left: none;
border-right: none;
border-bottom: none;
margin: 0 7px;
}

.exit{
background:rgb(255, 0, 0);
font-size: 20px;
width: 90px;
height: 25px;
cursor: pointer;
color: white;

/* box-shadow: 5px 2px 2px black; */
}

.exit:hover{
transition: 0.5s all 100ms;
background: rgb(255, 0, 0, 0.6);
}

/* form */
.flex-row-form{
display: flex;
justify-content: center;
}

.flex1-form{
display: flex;
flex-direction: column;
padding: 20px 50px;
}

.flex2-form{
display: flex;
flex-direction: column;
padding: 20px 20px 0 0;
}
.flex3-form{
display: flex;
flex-direction: column;
padding: 20px;
}

.flex4-form{
display: flex;
margin: 275px 0 0 0;
}



.input-name{
width: 360px;
}

.input-cep{
width: 360px;
}

.input-sexo{
width: 43px;
}

#sexo{
width: 110px;
}


.input-uf{
width: 110px;
}

.input-emissao{
width: 127px;
}


.input-cep,
.input-cidade,
.input-sus,
.input-rg{
width: 170px;
}

.input-submit{
display: inline;
width: 100px;
height: 30px;
border-radius: 10px;
}

textarea,
input{
outline: 0;
/* background-color: #d1d1d1; */
}

.count{
margin: 0;
padding: 0;
margin: auto;
}

footer{
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(0,0,0, 0.8) ;
margin-top: 80px;
height: 110px;
}

span{
    color: aliceblue;
    }
    

 /* ### responsive init ### */

@media screen and (min-width: 200px) and (max-width: 640px){
    body{
        min-height: 100vh;
        /* min-width: 100px; */
       
    }

.flex-row-form{
display: flex;
flex-direction: column;
align-items: center;
/* justify-self: center; */
margin: 20px 0 0 0;
}

header{
   /* width: 100%; */
   justify-content: space-between;

}

svg{
    display: none;
}

.generatePDF{
    display: none;
}

nav ul{
    padding: 0 0 0 0;
}

.aside-padding{
    padding: 0 0 0 0;
}

.input-fone,
.input-cpf,
.input-cidade,
.input-emissao,
.input-endereco,
.input-bairro,
.input-nasc,
.input-mae,
.input-name,
.input-cep,
.input-cidade,
.input-sus,
.input-rg{
width: 360px;
}
.input-uf{
width: 43px;
}
.flex1-form{
padding: 0 10px 0 10px;
}

.flex2-form{
padding: 10px 10px;
}

.flex3-form{
padding: 0 10px 0 10px;
width: 380px;
}

.flex4-form{
padding: 0;
margin: 10px 10px;
    }
    
.count{
display: none;
}

footer{
position: absolute;
border: solid 2px;
background-color: rgba(0,0,0, 0.8);
top: 1100px;

}

    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    

}


