@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
--lightgray: lightgray;
--blue: ???;
--gray: ???;

/* ### exemplos como utilizar as variaveis do root
background-color: var(--orange);
*/

}

*{
box-sizing: border-box;
padding: 0;
margin: 0;
outline: 0;
}

html,
body{
height: 100vh;
font-family: sans-serif,'Roboto';
text-rendering: optimizelegibility;
-webkit-font-smoothing: antialiased;
background: var(--lightgray);
/* min-height: 100%; */

/* overflow-x: hidden; tirar barra de rolagem na horizontal */
/*overflow-y: hidden; tirar barra de rolagem na vertical */
}

.container{
display: flex;
flex-direction: column;
}

.container-header{
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(6,70,161,1) 0%, rgba(9,9,121,1) 100%);
box-shadow: 10px 5px 8px rgba(0,0,0,0.4);
}

.container-header{
display: flex;
align-items: center;
justify-content: space-between;


width: 100%;
height: 40px;
/* margin: auto; */
}

header nav ul {
display: flex;
}


/* .home{
display: flex ;
align-items: center;
font-size: 20px;
} */


nav ul li a {
padding: 0 7px;
color: #fff;
text-decoration: none;

}

nav ul li{
list-style: none;
font-size: 1rem;
}

ul{
padding: 0 40px;
}

/*aside ###*/
.aside-padding{
padding: 0 40px;
}

aside a {
color: aliceblue;
}

/* link de configuração ### desativado ###*/
.config{
color: white;
font-size: 20px;
}


/* button exit */
.exit{
width: 10px;
border-radius: 5px;
border-top: none;
border-left: none;
border-right: none;
border-bottom: none;
}

.exit{
background:rgb(255, 0, 0);
font-size: 20px;
width: 90px;
height: 25px;
cursor: pointer;
color: white;

/* box-shadow: 5px 2px 2px black; */
}

.exit:hover{
transition: 0.5s all 100ms;
background: rgb(255, 0, 0, 0.6);
}

/* ### form ### */
.flex-row-form{
display: flex;
justify-content: center;
}

.flex1-form{
display: flex;
flex-direction: column;
padding: 20px 50px;
}

.flex2-form{
display: flex;
flex-direction: column;
padding: 20px 20px 0 0;
}

.input-fone{
margin: 0 0 151px 0;
}

/* todos os inputs, vão ficar com essa largura ( width: 360px )*/
.input-name{
width: 360px;
}

.input-sexo{
width: 39px;
}

.input-submit{
display: inline;
width: 100px;
height: 30px;
border-radius: 5px;
}

.count{
display: flex;
justify-content: center;
}

footer{
display: flex;
align-items: center;
justify-content: center;
position: absolute;
height: 55px;
width: 100%;
margin: 0 0 -80px 0;
bottom: 0;
background-color: rgba(0,0,0, 0.9) ;
/* position: absolute; */
/* bottom: 0; */
}

footer span{
color: aliceblue;
}


/* button exitMenuHamburguer */
.exitMenuHamburguer{
cursor: pointer;
color: white;
margin: auto;
background:rgb(255, 0, 0);
width: 40px;
height: 18px;
/* font-size: 1rem; */

border-radius: 5px;
border-top: none;
border-left: none;
border-right: none;
border-bottom: none;

display: none;
}



/* ### responsive init ### */

@media screen and (min-width: 200px) and (max-width: 640px){
.flex-row-form{
display: flex;
flex-direction: column;
/* margin: 20px 0 0 0; */
/* align-items: center; */
/* justify-self: center; */
/* width: 100%; */
}

/* todos os inputs, vão ficar com essa largura ( width: 100% ) seguir o ### fluxo ### */
.input-name{
width: 100%;
}


header{
/* width: 100%; */
justify-content: space-between;

}

.flex1-form{
padding: 10px 10px 0 10px;
}

.flex2-form{
padding: 10px 10px;
}

.input-fone{
margin: 0 0 10px 0;
}

.count{
display: none;
}


footer{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
top: 870px;

}

}



@media (max-width: 500px){
.exit{
display: none;
}

nav{
display: none;
}

}



/********* menu hamburguer *********/
@media (max-width: 490px){
nav{
display: none;
}

.menu-toggle{
width: 40px;
height: 30px;
margin-right: 30px;
/* margin-left: px; */
/* margin-right: 20px; */
}

.one,
.two,
.three{
background-color: #fff;
height: 5px;
width: 100%;
margin: 6px;

transition-duration: 0.3s;
}

/* fullScreen */
.menu-section.on{
position: absolute;
top: 0;
left: 0;

width: 100vw;
height: 100vh;

background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(6,70,161,1) 0%, rgba(9,9,121,1) 100%);

z-index: 10;

display: flex;
justify-content: center;
align-items: center;

transition: transform 0.2s 1s;
}

.menu-section.on:hover{
transform: scale(1.5);
}


.menu-section.on nav{
display: block;
}

.menu-section.on .menu-toggle{
position: absolute;
right: 0;
top: 15px;
}

.menu-section.on .menu-toggle .one{
transform: rotate(45deg) translate(7px, 7px);
}

.menu-section.on .menu-toggle .two{
opacity: 0;
}

.menu-section.on .menu-toggle .three{
transform: rotate(-45deg) translate(10px, -9px);
}

.menu-section.on nav ul{
text-align: center;
display: block;
}

.menu-section.on nav ul a{
transition-duration: 0.5s;
line-height: 4rem;
display: block;
}

.exitMenuHamburguer{
display: block;
}
}


/* .input-fone,
.input-uf,
.input-cidade,
.input-cpf,
.input-rg,
.input-emissao,
.input-sexo,
.input-descricao,
.input-endereco,
.input-bairro,
.input-cep,
.input-sus,
.input-mae,
.input-nasc,
.input-name{
width: 300px;
} */